aiofiles==0.5.0
aniso8601==7.0.0
appdirs==1.4.4
async-exit-stack==1.0.1
async-generator==1.10
autopep8==1.5.4
certifi==2020.6.20
chardet==4.0.0
click==7.1.2
colorama==0.4.4
distlib==0.3.1
dnspython==2.1.0
email-validator==1.1.2
filelock==3.0.12
Flask==2.0.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
h11==0.12.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
orjson==3.4.6
pipenv==2020.8.13
promise==2.3
pycodestyle==2.6.0
pydantic==1.8.2
python-dotenv==0.15.0
python-multipart==0.0.5
PyYAML==5.3.1
requests==2.25.1
Rx==1.6.1
six==1.15.0
starlette==0.14.2
toml==0.10.1
typing-extensions==3.10.0.2
ujson==4.1.0
urllib3==1.26.2
uvicorn==0.13.3
virtualenv==20.0.30
virtualenv-clone==0.5.4
watchgod==0.6
websockets==8.1
Werkzeug==2.0.1
