@tailwind base;
@tailwind components;
/* @import "custom.css"; */
@tailwind utilities;

@layer base {
  a {
    @apply hover:text-blue-400;
  }

  p {
    @apply text-gray-900;
  }

  button {
    @apply !leading-none;
  }

  .menu-button {
    @apply p-1 shadow-sm text-sm mr-2 my-2 btn btn-sm;
  }

  #mount-element.prose {
    max-width: 100% !important;
  }

  .ProseMirror {
    min-height: 200px;
    @apply px-4 outline-none;
  }

  .ProseMirror > *:first-child {
    margin-top: 0;
  }

  .ProseMirror img.ProseMirror-selectednode {
    outline: 3px solid #68cef8;
    margin: auto;
    max-height: 70vh;
  }

  .error-banner {
    @apply rounded capitalize text-xl font-medium mb-4 p-2 md:p-4 bg-red-300 text-red-800 text-center;
  }
  /* .ProseMirror h1 {
    @apply text-3xl;
  }

  .ProseMirror h2 {
    @apply text-2xl;
  } */

  .ml-1\/6 {
    margin-left: 16.666666667%;
  }
}
