{% extends 'admin-layout.html'  %}

{% block script %}
<script defer src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block title %}Post{% endblock %}

{% block label %}
  {% if prev|length == 0 %}
    New Post
  {% else %}
    Edit Post
  {% endif %}
{% endblock %}


{% block body %}

<!-- page content -->
<div class="lg:w-2/3 mx-auto pb-8 px-4 md:px-8">
  <p id="error-msg" class="error-banner hidden"></p>
  <div class="title-block mb-4">
    <input type="text" class="text-3xl capitalize p-4 border border-black rounded block w-full"
    id="title-field"
    placeholder="Post Title..."
    autofocus
    required
    >
  </div>
  
    <div data-controller="collapse" 
      class="category-block mb-4 p-4 border border-black rounded"
    >
      <h2 class="leading-none mb-6 text-xl">Categories</h2>
      
      <div id="category-cont"
        class="mb-4 flex flex-wrap justify-start items-center" >
      </div>
      
      <div class="flex items-center">
        <button
          type="button"
          class="btn btn-xs mr-4"
          data-action="click->collapse#toggleVisibility"
        >
          Add Category
        </button>

        <div data-collapse-target="content" class="hidden">
          <div class="flex items-center">
            <!-- dynamic list of categories -->
            <select class="category-input border border-black rounded mr-2">
              {% for cat in categories %}
                <option value="{{ cat[0] }}">{{ cat[1] }}</option>
              {% else %}
                  <option value="None">No Existing Categories</option>
              {% endfor %}
            </select>

            <!-- only show action buttons if at least one category exists -->
            {% if categories|length != 0 %}
              <button 
                type="button" 
                class="btn btn-xs px-2 mr-2 save-category-btn"
                data-collapse-target="trigger"
                data-action="click->collapse#saveCategory"
              >
                  Save
              </button>
              
              <button 
                type="button"
                class="btn btn-xs px-2 cancel-category-btn"
                data-action="click->collapse#hide"
              >
                Cancel
              </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    
    <div class="editor-block border border-black rounded-md mb-4">
      <div class="tool-menu flex flex-wrap justify-start items-center mb-1 border-b border-black px-4 shadow-xs">
        <button class="menu-button btn-outline" id="h1-button">H1</button>
        <button class="menu-button btn-outline" id="h2-button">H2</button>
        <button class="menu-button btn-outline" id="bold-button">B</button>
        <button class="menu-button btn-outline" id="italics-button">I</button>
        <button class="menu-button btn-outline" id="underline-button">U</button>
        <button class="menu-button btn-outline" id="link-button">Link</button>
        <button class="menu-button btn-outline" id="image-button">Image</button>
      </div>

      <div id="mount-element" class="prose pb-4"></div>
    </div>
    
    <div>
      <button type="button" class="submit-btn btn hover:btn-outline mr-4 publish-btn">Publish Post</button>
      <button type="button" class="submit-btn btn btn-outline draft-btn">Save as Draft</button>
    </div>
  </div>
  <!-- file input for image upload -->
  <input type="file" id="img-upload-input" class="img-upload hidden" accept=".JPG,.JPEG,.PNG">
  <!-- data dump for editing existing post -->
  <div id="prev-title" class="hidden">{{ prev["title"]  }}</div>
  <div id="prev-content" class="hidden">{{ prev.content|safe }}</div>
  <div id="prev-cat" class="hidden">{{ prev["cat"] }}</div>
{% endblock %}